section{
    background-color: lightgray;
    /* background-image: url(./fondo.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position-x:center;
    opacity: .7; */
    height: 560px;
}

.contenedorSection1{
    display: flex;
    justify-content: center;
    align-content:space-between;
    align-items: center;
    padding: 0 5px;
}

.contenidoSeccion1{
    /* font-size: calc(var(--font-size-base) * 1px); */
    line-height: 1.5;
    letter-spacing: .3px;
    font-size: xx-large;
    padding: 50px 50px 50px 50px;
    margin: 40px auto !important;
    flex: 1; 
    margin: 0 5px; 
}

.contenidoSeccion-1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1; 
    margin: 0 5px; 
    padding: 50px 50px 50px 50px;
    margin: 40px auto !important;
}

.pSecccion1{
    text-align: left;
}

.botonSeccion1{
    width: 160px;
    height: 50px;
    border-radius: 12px;
    border-color: 1px solid white;
    cursor: pointer;
    color: white;
    background-color: red;
}

.contenidoSeccion2{
    height: 558spx;
    background-color: lightseagreen;
}

.conteSeccion2{
    overflow: hidden;
    width: 779px;
    height: 510px;
    padding-left: 20px;
    padding-top: 30px;
}

.promocion1{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    overflow: hidden;
}

/* .contenedorpromo{
    width: 600px;
    height: 300px;
} */

.imgpromo1{
    width: 100%;
    height: 100%;
    transition: transform 5s;
    
}

.imgpromo1:hover {
    transform: scale(1.1);
  }

  .textpromo{
    position: absolute;
    /* top: 0%;
    bottom: 0; */
    display: flex;
    align-items: center;
    left: 25%;
    text-align: center;
  }

  .promoh{
    color: white;
    margin-bottom: 40px;
    font-size: 1.5em;
  }


  .promoh5{
    color: red;
    font-size: 2.7em;
  }